version: '3.9'

services:
  api:
    image: nam0311/urlshortener-api
    ports:
      - "7073:5000"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
