name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout Code
        uses: actions/checkout@v3

    
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

     
      - name: Move to Backend Folder
        run: cd AMD_final/urlshorten/BE

     
      - name: Restore Backend
        working-directory: ./AMD_final/urlshorten/BE
        run: dotnet restore URLShortener.API.csproj

    
      - name: Build Project
        working-directory: ./AMD_final/urlshorten/BE
        run: dotnet build --configuration Release

     
      - name: Build Docker Image
        working-directory: ./AMD_final/urlshorten/BE
        run: docker build -t ${{ secrets.DOCKER_USER }}/urlshortener:${{ github.sha }} .

      
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USER }}/urlshortener:${{ github.sha }}


      - name: Deploy to Render
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
