name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up .NET 8
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore backend dependencies
        run: dotnet restore AMD_final/urlshorten/BE/UrlShortenerAPI.csproj

      - name: Build backend
        run: dotnet build AMD_final/urlshorten/BE/UrlShortenerAPI.csproj --configuration Release --no-restore

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/urlshortener-api:latest AMD_final/urlshorten/BE

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/urlshortener-api:latest
