name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Build Backend
        run: dotnet build AMD_final/urlshorten/BE/URLShortener.API.csproj --configuration Release

      - name: Run Tests
        run: dotnet test AMD_final/urlshorten/BE/URLShortener.API.csproj --no-build

      # BUILD DOCKER IMAGE (DÙNG BUILDX CHUẨN)
      - name: Build Docker Image
        run: |
          echo "Building Docker Image..."
          echo "Username = ${{ secrets.DOCKER_USER }}"
          docker buildx create --use
          docker buildx build \
            -t ${{ secrets.DOCKER_USER }}/urlshortener:${{ github.sha }} \
            --load \
            AMD_final/urlshorten/BE

      - name: Login DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USER }}/urlshortener:${{ github.sha }}
